body {
    width: 50%;
    margin: 0 auto;
    box-shadow: 0 1px 10px 1px black;
    border-collapse: collapse;
    padding: 5px;
    background-color: white;
    text-align: center;
}

h2 {
    width: 50%;
    margin: auto;
    background-color: #348367;
    background-image: url('https://png.pngtree.com/thumb_back/fw800/back_pic/04/01/21/3958008dcee693b.jpg');
    color: #fff;
    text-shadow: 2px 0 5px black, 2px 0 5px black, 2px 0 5px black, 2px 0 5px black;
    border: 1.5px solid darkslategrey;
    padding: 0.5em;
    text-align: center;
    font-size: 20px;
}