.container {
  margin-left: 2em;
  margin-right: 2em;
}

[type="text"] {
  display: block;
  padding: 1em;
  margin: 0 1em 1em 0;
  width: 35%;
  height: 3em;
  margin-left: auto;
  margin-right: auto;
}
